<article class="comp @@individualclass">
  <div class="@@imgcontainer">
    <img title="Integrante de Marea Coders" src="@@individualpic" class="img" />
  </div>
  <div class="@@card">
    <h1 class="@@compname">@@name</h1>
    <p class="@@compdesc">@@compdescription</p>

    <ul class="@@socialmedia">
      <li class="sociallink">
        <a title="Ir a Github" class="a" target="_blank" href="@@linkgithub">
          <img
            title="Ir a Github"
            class="logo"
            src="./assets/images/github-alt-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a title="Ir a Linkedin" class="a" target="_blank" href="@@linklinkedin"
          ><img
            title="Ir a Linkedin"
            class="logo"
            src="./assets/images/linkedin-in-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a title="Contactar por e-mail" class="a" href="mailto:@@linkemail"
          ><img
            title="Contactar por e-mail"
            class="logo"
            src="./assets/images/envelope-solid.svg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a title="Ir a Twitter" class="a" target="_blank" href="@@linktwitter"
          ><img
            title="Ir a Twitter"
            class="logo"
            src="./assets/images/twitter-brands.svg"
        /></a>
      </li>
    </ul>
  </div>
</article>
