

<article class="comp @@individualclass">
  <div class="@@imgcontainer">
    <img src="@@individualpic" class="img" />
  </div>
  <div class="tarjeta">
    <h1 class="nombre">@@name</h1>
    <p class="desc">@@compdescription</p>

    <ul class="@@socialmedia">
      <li class="sociallink">
        <a class="a" target="_blank" href="@@linkgithub">
          <img
            class="logo"
            src="./assets/images/github-alt-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a class="a" target="_blank" href="@@linklinkedin"
          ><img
            class="logo"
            src="./assets/images/linkedin-in-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a class="a" href="mailto:@@linkemail"
          ><img class="logo" src="./assets/images/envelope-solid.svg" alt="" />
        </a>
      </li>
      <li>
        <a class="a" target="_blank" href="@@linktwitter"
          ><img class="logo" src="./assets/images/twitter-brands.svg"
        /></a>
      </li>
    </ul>
  </div>
</article>
