<article class="main__aboutus--component @@individualclass">
  <div class="@@imgcontainer">
    <img
      title="Integrante de Marea Coders"
      src="@@individualpic"
      class="main__aboutus--img"
    />
    <div class="main__aboutus--alias">@@alias</div>
  </div>
  <div class="@@card">
    <h3 class="@@compname">@@name</h3>
    <p class="@@compdesc">@@compdescription</p>

    <ul class="@@socialmedia">
      <li class="sociallink">
        <a title="Ir a Github" class="a" target="_blank" href="@@linkgithub">
          <img
            title="Ir a Github"
            class="main__aboutus--sociallogo"
            src="./assets/images/github-alt-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a title="Ir a Linkedin" class="a" target="_blank" href="@@linklinkedin"
          ><img
            title="Ir a Linkedin"
            class="main__aboutus--sociallogo"
            src="./assets/images/linkedin-in-brands.svg"
            alt=""
          />
        </a>
      </li>
      <li class="sociallink">
        <a title="Contactar por e-mail" class="a" href="mailto:@@linkemail"
          ><img
            title="Contactar por e-mail"
            class="main__aboutus--sociallogo"
            src="./assets/images/envelope-solid.svg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a title="Ir a Twitter" class="a" target="_blank" href="@@linktwitter"
          ><img
            title="Ir a Twitter"
            class="main__aboutus--sociallogo"
            src="./assets/images/twitter-brands.svg"
        /></a>
      </li>
    </ul>
  </div>
</article>
