<footer class="footer">
  <div class="footer__container">
    <small class="footer__legalText">Marea Coders © 2020 ❤︎</small>
    <div class="footer__logo">
      <img
        title="Logo de Adalab"
        src="./assets/images/logo-adalab.png"
        class="footer__logo--png"
      />
    </div>
  </div>
  <nav class="footer__menu">
    <ul class="footer__list">
      <li class="footer__list--item">
        <a
          title="Ver detalle del equipo"
          href="#equipo"
          class="footer__list--text"
          >Equipo</a
        >
      </li>
      <li class="footer__list--item">
        <a
          title="Ir a quiénes somos"
          href="#quienessomos"
          class="footer__list--text"
          >Quiénes somos</a
        >
      </li>
      <li class="footer__list--item">
        <a
          title="Ir a formulario de contacto"
          href="contact.html"
          class="footer__list--text"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</footer>
