<footer class="footer">
  <div class="footer-1">
    <small class="legal-text">Marea Coders © 2020 ❤︎</small>
    <div class="logo2">
      <img src="./assets/images/logo-adalab.png" class="png" />
    </div>
  </div>
  <nav class="menu-2">
    <ul class="list-2">
      <li class="link-2 link1">
        <a title="Ver detalle del equipo" href="#equipo" class="text-link1"
          >Equipo</a
        >
      </li>
      <li class="link-2 link2">
        <a title="Ir a quiénes somos" href="#quienessomos" class="text-link1"
          >Quiénes somos</a
        >
      </li>
      <li class="link-2">
        <a
          title="Ir a formulario de contacto"
          href="contact.html"
          class="text-link1"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</footer>
