<footer class="footer">
  <div class="footer-1">
    <small class="legal-text">Marea Coders © 2020 ❤︎</small>
    <div class="logo2">
      <img src="./assets/images/logo-adalab.png" class="png" />
    </div>
  </div>
  <nav class="menu-2">
    <ul class="list-2">
      <li class="link-2 link1">
        <a href="#equipo" class="text-link1">EQUIPO</a>
      </li>
      <li class="link-2 link2">
        <a href="#quienessomos" class="text-link1">QUIÉNES SOMOS</a>
      </li>
      <li class="link-2">
        <a href="#quienessomos" class="text-link1">CONTACTO</a>
      </li>
    </ul>
  </nav>
</footer>
