<header class="hero">
  <div class="header">
    <h1 class="title">MAREA CODERS</h1>
    <nav class="menu">
      <ul class="list">
        <li class="link link1">
          <a href="#equipo" class="text-link a">EQUIPO</a>
        </li>
        <li class="link link2">
          <a href="#quienessomos" class="text-link a">QUIÉNES SOMOS</a>
        </li>
        <li class="link">
          <a href="#quienessomos" class="text-link a">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="container">
    <div class="imghero">
      <img
        class="imagenhero"
        src="./assets/images/IMG_0538.JPG"
        alt="Sesión de trabajo en remoto de MAREA CODERS"
      />
    </div>
    <p id="equipo" class="claim">Surfing the code.</p>
  </section>
</header>
