<header class="header">
  <div class="header__container">
    <a title="Marea Coders" class="header__container--title" href="./index.html"
      >Marea Coders</a
    >
    <nav class="header__container--menu">
      <ul class="header__container--list">
        <li class="header__container--link header__container--link1">
          <a
            title="Ver detalle del equipo"
            href="#equipo"
            class="header__container--text"
            >Equipo</a
          >
        </li>
        <li class="header__container--link header__container--link1">
          <a
            title="Ir a quiénes somos "
            href="#quienessomos"
            class="header__container--text"
            >Quiénes somos</a
          >
        </li>
        <li class="header__container--link">
          <a
            title="Ir al formulario de contacto"
            href="./contact.html"
            class="header__container--text"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <section class="container">
    <div class="imghero">
      <img
        title="Sesión de trabajo en remoto de Marea Coders"
        class="imagenhero"
        src="./assets/images/IMG_0538.JPG"
        alt="Sesión de trabajo en remoto de Marea Coders"
      />
    </div>
    <p id="equipo" class="claim">Surfing the code.</p>
  </section>
</header>
