.aboutus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.headeraboutus {
  align-self: center;
  line-height: 67.5px;
  height: 90px;
  font-size: 24px;
  font-weight: 500;
}

.comp {
  width: 63.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-bottom: 60px;
}

.comp-2 {
  flex-direction: row-reverse;
  text-align: right;
  margin-right: 10%;
  margin-left: 25%;
}

.comp-4 {
  flex-direction: row-reverse;
  text-align: right;
  align-self: flex-start;

  margin-right: 10%;
  margin-left: 25%;
}
.components {
  margin-top: 41px;
}

.contimg {
  width: 278px;
  height: 278px;
  object-fit: contain;
  margin-right: 3.75%;
}

.contimg-2 {
  width: 278px;
  height: 278px;
  object-fit: contain;
  margin-left: 3.75%;
}
.img {
  width: 278px;
  border-radius: 5.4px;
  border: solid 6.7px rgba(0, 0, 0, 0.08);
}

.contimg > img {
  height: 278px;
  object-fit: contain;
}

.contimg-2 > img {
  height: 278px;
  object-fit: contain;
}

.tarjeta {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.rrss {
  list-style-type: none;
  display: flex;
  width: 124px;
  height: 30px;
  padding: 0px;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.rrss-2 {
  list-style-type: none;
  display: flex;
  width: 124px;
  height: 30px;
  font-size: 16px;
  align-self: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nombre {
  font-family: $fontFamilyOpen;
  font-size: 20px;
  line-height: 45px;
  font-weight: normal;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}

.desc {
  font-family: $fontFamilyOpen;
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
  margin-top: 0px;
  margin-bottom: 15px;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}

.logo {
  width: 15px;
  height: 15px;
}

.titleaboutus {
  font-size: 24px;
  font-family: $fontFamilyRubik;
  color: $mainColor;
  margin-top: 45px;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  font-stretch: normal;
  font-weight: 500;
}
