.contact {
  width: 100%;
  height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  @media all and (min-width: 768px) {
    width: auto;
    height: 786px;
    margin-left: 21.22%;
    margin-right: 21.22%;
  }
  @media all and (min-width: 1200px) {
    margin-left: 24.91%;
    margin-right: 24.91%;
    height: 753px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact__hero,
.contact__container {
  height: 300px;
  @media all and (min-width: 1200px) {
    height: 400px;
  }
}
.contact__divText {
  height: 234px;
  margin: 0px 4.16% 0px 4.16%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact__divText--title {
  font-family: $fontFamilyRubik;
  font-size: 24px;
  line-height: 45px;
  margin: 30px 29.84% 0px 30.46%;
  align-items: center;
  color: #099d8d;
  text-transform: uppercase;
  @media all and (min-width: 1200px) {
    margin-top: 45px;
  }
}
.contact__divText--text {
  width: 100%;
  margin: 15px 4.68% 0px 4.68%;
  font-family: $fontFamilyOpen;
  font-size: 16px;
  color: #54585a;
  line-height: 24px;
  align-items: center;
  @media all and (min-width: 1200px) {
    height: 156px;
    margin-bottom: 0px;
  }
}
.contact__divText--small {
  align-items: center;
  font-family: $fontFamilyOpen;
  font-size: 12px;
  color: #54585a;
  line-height: 24px;
  @media all and (min-width: 768px) {
    margin: 20px 0px 58px 0px;
  }
}
.contact__form {
  width: auto;
  font-family: "open sans";
  color: #54585a;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media all and (min-width: 1200px) {
    max-width: 601px;
    height: 373px;
    display: grid;
    margin-bottom: 120px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
.contact__form--Name {
  width: 100%;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media all and (min-width: 768px) {
    margin: 0px 0px 13px 0px;
  }
  @media all and (min-width: 1200px) {
    width: 100%;
    grid-column: 1/3;
    display: inline-block;
  }
}
.fullName {
  width: 131px;
  height: 19px;
  margin: 0px 54.37% 7px 4.6%;
  @media all and (min-width: 768px) {
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
}

.name {
  font-family: $fontFamilyOpen;
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
  @media all and (min-width: 768px) {
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
    width: 100%;
  }
}
.name::placeholder {
  color: #b8b8b9;
}
.contact__form--email {
  width: 100%;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media all and (min-width: 768px) {
    margin: 0px 0px 13px 0px;
  }
  @media all and (min-width: 1200px) {
    width: 395px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: inline-block;
  }
}
.mail {
  width: 131px;
  height: 19px;
  margin: 0px 54.37% 7px 4.6%;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    margin: 0px 0px 0px 0px;
  }
}
.adress {
  font-family: $fontFamilyOpen;
  color: #54585a;
  font-size: 14px;
  padding: 0px 6.87% 0px 4.16%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
  @media all and (min-width: 768px) {
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
    width: 100%;
  }
}
.contact__form--telephone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media all and (min-width: 768px) {
    margin-bottom: 13px;
  }
  @media all and (min-width: 1200px) {
    width: 162px;
    margin-left: 44px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
    display: inline-block;
  }
}
.number {
  width: 131px;
  height: 19px;
  margin: 13px 54.37% 7px 4.6%;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    margin: 0px 0px 0px 0px;
  }
}
.phonenumber {
  font-family: $fontFamilyOpen;
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
  @media all and (min-width: 768px) {
    height: 45px;
    width: 100%;
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
  }
}
.phonenumber::placeholder {
  color: #b8b8b9;
}
.contact__form--message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media all and (min-width: 1200px) {
    width: auto;
    grid-column: 1/3;
    grid-row: 3/4;
    display: inline-block;
  }
}
.message {
  height: 19px;
  margin: 13px 54.37% 7px 4.6%;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    margin: 0px 0px 0px 0px;
  }
}
.needs {
  font-family: $fontFamilyOpen;
  color: #54585a;
  font-size: 14px;
  padding: 11px 0px 0px 4.16%;
  margin: 0px 0px 30px 4.6%;
  height: 105px;
  width: 90.62%;
  @media all and (min-width: 768px) {
    margin: 7px 0px 0px 0px;
    width: 100%;
  }
  @media all and (min-width: 1200px) {
    margin: 7px 0px 0px 0px;
    padding: 10px 0px 0px 15px;
  }
}
.needs::placeholder {
  color: #b8b8b9;
}
.contact__form--buttom {
  width: 90.6%;
  height: 45px;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0px 4.68% 60px 4.68%;
  border-radius: 4px;
  display: block;
  background-color: #099d8d;
  font-family: $fontFamilyOpen;
  font-size: 16px;
  color: white;
  border-color: #099d8d;
  @media all and (min-width: 768px) {
    width: 206px;
    margin: 30px 0px 60px 0px;
    align-self: flex-end;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
    grid-column: 1/3;
    justify-self: right;
    grid-row: 4/5;
    border-radius: 4px;
    margin: 30px 0px 0px 0px;
    display: block;
  }
}
.star {
  color: #14d9c4;
}
