* {
  margin: 0;
  box-sizing: border-box;
}
.Contact {
  width: 100%;
  height: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.Contact__divText {
  height: 234px;
  margin-left: 4.16%;
  margin-right: 4.16%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Contact__divText--title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  line-height: 45px;
  margin-top: 30px;
  margin-right: 29.84%;
  margin-left: 30.46%;
  margin-bottom: 0;
  align-items: center;
  color: #099d8d;
  text-transform: uppercase;
}
.Contact__divText--text {
  width: 100%;
  height: 144px;
  margin-left: 4.68%;
  margin-right: 4.68%;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #54585a;
  line-height: 24px;
  align-items: center;
}
.Contact__divText--small {
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #54585a;
  line-height: 24px;
}
.Contact__form {
  width: 100%;
  height: 576px;
  font-family: 'open sans';
  color: #54585a;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.Contact__form--Name {
  width: 100%;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.fullName {
  width: 131px;
  height: 19px;
  margin-bottom: 7px;
  margin-left: 4.6%;
  margin-right: 54.37%;
}

.name {
  font-family: 'open sans';
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
}
.name::placeholder {
  color: #b8b8b9;
}
.Contact__form--email {
  width: 100%;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.mail {
  width: 131px;
  height: 19px;
  margin-bottom: 7px;
  margin-left: 4.6%;
  margin-right: 54.37%;
  text-transform: capitalize;
}
.adress {
  font-family: 'open sans';
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  padding-right: 6.87%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
}
.Contact__form--telephone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.number {
  width: 131px;
  height: 19px;
  margin-bottom: 7px;
  margin-top: 13px;
  margin-left: 4.6%;
  margin-right: 54.37%;
  text-transform: capitalize;
}
.phonenumber {
  font-family: 'open sans';
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  margin-left: 4.6%;
  height: 45px;
  width: 90.62%;
}
.phonenumber::placeholder {
  color: #b8b8b9;
}
.Contact__form--message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.message {
  width: 131px;
  height: 19px;
  margin-bottom: 7px;
  margin-top: 13px;
  margin-left: 4.6%;
  margin-right: 54.37%;
  text-transform: capitalize;
}
.needs {
  font-family: 'open sans';
  color: #54585a;
  font-size: 14px;
  padding-left: 4.16%;
  margin-left: 4.6%;

  margin-bottom: 30px;
  padding-top: 11px;
  height: 105px;
  width: 90.62%;
}
.needs::placeholder {
  color: #b8b8b9;
}
.Contact__form--buttom {
  width: 90.6%;
  height: 45px;
  text-transform: uppercase;
  line-height: 45px;
  margin-left: 4.68%;
  margin-right: 4.68%;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 4px;
  display: block;
  background-color: #099d8d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}
.star {
  color: #14d9c4;
}

@media all and (min-width: 768px) {
  .Contact {
    width: auto;
    height: 768px;
    margin-left: 21.22%;
    margin-right: 21.22%;
  }
  .Contact__divText {
    height: 210px;
  }

  .Contact__divText--text {
    width: auto;
  }

  .needs {
    margin-bottom: 0px;
  }
  .Contact__form--buttom {
    width: 206px;
    height: 45px;
    line-height: 45px;
    margin-right: 0px;
    margin-left: 49.28%;
  }
}
@media all and (min-width: 1200px) {
  .Contact {
    width: auto;
    height: 753px;
    margin-left: 24.91%;
    margin-right: 24.91%;
  }
  .Contact__divText {
    height: 156px;
    margin-bottom: 58px;
  }
  .Contact__divText--title {
    margin-top: 45px;
  }

  .Contact__divText--small {
    margin-top: 20px;
  }
  .Contact__form {
    max-width: 601px;
    // height: 373px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
    grid-template-areas: ;
  }
  .Contact__form--Name {
    widows: 100%;
    grid-column: 1/3;
    // margin-top: 58px;
  }
  .fullName {
    width: 131px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
    margin-left: 4.6%;
    margin-right: 54.37%;
  }

  .name {
    font-family: 'open sans';
    color: #54585a;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    height: 45px;
    width: 90.62%;
  }
  .name::placeholder {
    color: #b8b8b9;
  }
  .Contact__form--email {
    width: 395px;
    margin: 0px;
    padding: 0px;
    margin-top: 13px;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-gap: 44px;
  }
  .mail {
    width: 131px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
    text-transform: capitalize;
  }
  .adress {
    font-family: 'open sans';
    color: #54585a;
    font-size: 14px;
    height: 45px;
    margin: 0px;
    padding: 0px;
    width: 90.62%;
    margin: 0px;
    padding: 0px;
  }
  .Contact__form--telephone {
    width: 162px;
    margin-top: 13px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
  }
  .number {
    width: 131px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;

    text-transform: capitalize;
  }
  .phonenumber {
    font-family: 'open sans';
    color: #54585a;
    font-size: 14px;
    height: 45px;
    width: 90.62%;
    margin: 0px;
    padding: 0px;
  }
  .phonenumber::placeholder {
    color: #b8b8b9;
  }
  .Contact__form--message {
    width: auto;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .message {
    width: 131px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
    margin-top: 13px;
    text-transform: capitalize;
  }
  .needs {
    font-family: 'open sans';
    color: #54585a;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    padding-top: 11px;
    height: 105px;
    width: 90.62%;
  }
  .needs::placeholder {
    color: #b8b8b9;
  }
  .Contact__form--buttom {
    width: 278px;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 4.68%;
    margin-right: 4.68%;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 4px;
    display: block;
    background-color: #099d8d;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
  }
  .star {
    color: #14d9c4;
  }
}
