.footer {
  width: 100%;
  height: 161px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #b8b8b9;
  @media all and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-top: 0px;
    position: relative;
  }
}

.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 11.5%;
  @media all and (max-width: 1199px) and (min-width: 768px) {
    margin-left: 5.86%;
  }
  @media all and (max-width: 767px) {
    margin-left: 0;
    align-items: center;
  }
}

.menu-2 {
  font-family: $fontFamilyOpen, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #54585a;
  opacity: 75%;
  text-align: right;
  width: 324px;
  height: 90px;
  margin-right: 11.5%;
  margin-top: 24px;
  @media all and (max-width: 1199px) and (min-width: 768px) {
    margin-right: 5.86%;
  }
  @media all and (max-width: 767px) {
    margin-right: 0;
    text-align: center;
    position: relative;
    bottom: 95px;
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    opacity: 0.75;
    letter-spacing: normal;
    height: 60px;
  }
}

.legal-text {
  font-family: $fontFamilyOpen;
  font-size: 14px;
  margin-top: 30px;
  line-height: 20px;
  color: #b8b8b9;
}

.menu-2:hover {
  color: #54585a;
}

.list-2 {
  list-style-type: none;
  font-weight: 600;
}

.text-link1 {
  color: #54585a;
  text-transform: uppercase;
  @media all and (max-width: 767px) {
    line-height: 20px;
  }
}

.logo2 .png {
  width: 115.9px;
  height: 45px;
}
.logo2 {
  margin-top: 15px;
  @media all and (max-width: 767px) {
    position: absolute;
    top: 160px;
    margin-bottom: 45px;
    margin-top: 0;
  }
}
