body {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: $mainColor;
  color: white;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 999;
  box-sizing: border-box;
  height: 60px;
  @media all and (max-width: 767px) {
    display: block;
    top: 0px;
    width: 100vw;
    z-index: 999;
    box-sizing: border-box;
    height: 105px;
  }
}

.title {
  width: 160px;
  height: 30px;
  font-family: $fontFamilyRubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: white;
  margin-left: 11.83%;
  @media all and (max-width: 1199px) and (min-width: 768px) {
    margin-left: 5.85%;
  }
  @media all and (max-width: 767px) {
    width: 100%;
    height: 30px;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
}

.list {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: $fontFamilyRubik;
  font-weight: 500;
  font-size: 15px;
  padding-left: 0px;
  @media all and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    margin-top: 6px;
  }
}

.menu {
  margin-right: 11.5%;
  background-color: $mainColor;
  @media all and (max-width: 1199px) and (min-width: 768px) {
    margin-right: 5.85%;
  }
  @media all and (max-width: 767px) {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 8px;
    background-color: #14d9c4;
    box-sizing: border-box;
    margin-right: 0px;
    height: 45px;
  }
}

.link.link1,
.link.link2 {
  margin-right: 18px;
  @media all and (max-width: 767px) {
    margin-right: 0px;
  }
}
.text-link {
  color: white;
}
