@import "./core/variables.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./components/hero.scss";
@import "./pages/about-us.scss";
@import "./pages/home.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.sociallink::after {
  content: "·";
}

.a {
  text-decoration: none;
  width: 16px;
  font-family: $fontFamilyOpen;
  color: #54585a;
  line-height: 30px;
  text-align: center;
}

@media all and (max-width: 1199px) and (min-width: 768px) {
  .title {
    margin-left: 5.85%;
  }
  .menu {
    margin-right: 5.85%;
  }
  .container {
    height: 421px;
    position: relative;
  }

  .imagenhero,
  .imghero {
    height: 421px;
  }

  .claim {
    width: 441px;
    height: 80px;
    position: absolute;
    left: 6%;
    bottom: 0px;
  }

  .footer-1 {
    margin-left: 5.86%;
  }

  .menu-2 {
    margin-right: 5.86%;
  }

  .contimg {
    width: 205px;
    height: 205px;
    object-fit: contain;
    margin-right: 4%;
  }

  .contimg-2 {
    width: 205px;
    height: 205px;
    object-fit: contain;
    margin-left: 4%;
  }

  .img {
    width: 205px;
  }

  .contimg > img {
    height: 205px;
  }

  .contimg-2 > img {
    height: 205px;
  }

  .titleaboutus {
    line-height: 45px;
  }

  .comp {
    width: 88.5%;
    margin-left: 5.73%;
    margin-right: 5.73%;
    margin-bottom: 67px;
  }

  .tarjeta {
    margin-left: 0;
    margin-right: 0;
  }
  .mainteamdesc {
    width: 88.28%;
  }

  .qualities {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .qualities__strenghts,
  .qualities__weaknesses {
    width: 50%;
    /* margin: auto; */
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .qualities__weaknesses {
    margin-top: 45px;
    margin-left: 3.75%;
    margin-right: 3.75%;
  }
  .qualities__strenghts {
    margin-top: 45px;
    margin-bottom: 60px;
    margin-left: 3.75%;
    margin-right: 3.75%;
  }
}

@media all and (max-width: 767px) {
  .hero {
    width: 100vw;
    height: 421px;
  }
  .header {
    display: block;
    top: 0px;
    width: 100vw;
    z-index: 999;
    box-sizing: border-box;
    height: 105px;
  }

  .title {
    width: 160px;
    height: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    opacity: 0.9;
  }

  .menu {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 8px;
    background-color: #14d9c4;
    box-sizing: border-box;
    margin-right: 0px;
    height: 45px;
  }
  .link.link1,
  .link.link2 {
    margin-right: 0px;
  }

  .container {
    height: 421px;
  }

  .imghero,
  .imagenhero {
    width: 100%;
    height: 421px;
    object-fit: cover;
    object-position: 63% 20%;
  }
  .claim {
    width: 90%;
    height: 80px;
    position: relative;
    left: 5%;
    right: 5%;
    bottom: 34px;
    margin: 0px;
    padding: 15px;
    align-items: center;
    font-size: 30px;
    box-sizing: border-box;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-top: 0px;
    position: relative;
  }
  .footer-1 {
    margin-left: 0;
    align-items: center;
  }
  .menu-2 {
    margin-right: 0;
    text-align: center;
    position: relative;
    bottom: 95px;
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    opacity: 0.75;
    letter-spacing: normal;
    height: 60px;
  }

  .logo2 {
    position: absolute;
    top: 160px;
    margin-bottom: 45px;
    margin-top: 0;
  }
  .contimg {
    width: 180px;
    height: 180px;
    object-fit: contain;
    align-self: center;
    margin-right: 0;
  }

  .contimg-2 {
    width: 180px;
    height: 180px;
    object-fit: contain;
    align-self: center;
    margin-left: 0px;
  }

  .contimg > img {
    height: 180px;
    width: 180px;
  }

  .contimg-2 > img {
    height: 180px;
    width: 180px;
  }

  .titleaboutus {
    line-height: 45px;
  }

  .comp,
  .comp-2 {
    width: auto;
    box-sizing: border-box;
    margin-left: 4.68%;
    margin-right: 4.68%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tarjeta {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .rrss-2,
  .rrss {
    align-self: center;
    margin-top: 15px;
  }

  .qualities {
    width: 100%;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 4.68%;
    padding-left: 4.68%;
  }

  .qualities__weaknesses {
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }
  .qualities__strenghts {
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }

  .teamdesc {
    margin-top: 76px;
  }
  .mainteamdesc {
    width: 90%;
  }

  .text-link1 {
    line-height: 20px;
  }
}
