@import "./core/variables.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./components/hero.scss";
@import "./pages/about-us.scss";
@import "./pages/home.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.sociallink::after {
  content: "·";
}

.a {
  text-decoration: none;
  width: 16px;
  font-family: $fontFamilyOpen;
  color: #54585a;
  line-height: 30px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .hero {
    width: 100vw;
    height: 421px;
  }

  .container {
    height: 421px;
  }

  .imghero,
  .imagenhero {
    width: 100%;
    height: 421px;
    object-fit: cover;
    object-position: 63% 20%;
  }
  .claim {
    width: 90%;
    height: 80px;
    position: relative;
    left: 5%;
    right: 5%;
    bottom: 34px;
    margin: 0px;
    padding: 15px;
    align-items: center;
    font-size: 30px;
    box-sizing: border-box;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
  }

  .contimg {
    width: 180px;
    height: 180px;
    object-fit: contain;
    align-self: center;
    margin-right: 0;
  }

  .contimg-2 {
    width: 180px;
    height: 180px;
    object-fit: contain;
    align-self: center;
    margin-left: 0px;
  }

  .contimg > img {
    height: 180px;
    width: 180px;
  }

  .contimg-2 > img {
    height: 180px;
    width: 180px;
  }

  .titleaboutus {
    line-height: 45px;
  }

  .comp,
  .comp-2 {
    width: auto;
    box-sizing: border-box;
    margin-left: 4.68%;
    margin-right: 4.68%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tarjeta {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .rrss-2,
  .rrss {
    align-self: center;
    margin-top: 15px;
  }
}
